@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

image {
  width: 100%;
}

.nav-container {
  background: #F4F4F4;
}

.nav-container a {
  color: black;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4em;
}

header .logo {
  color: black;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.2em;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.social-header {
  display: none;
}

.hero {
  background: #F4F4F4;
  color: black;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
  font-size: 1.5em;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.meet span {
  margin-top: 1em;
  margin-right: .5em;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #4A72FF;
  letter-spacing: .2em;
  font-size: .85em;
  padding-right: 1em;
}

.featured {
  position: relative;
  padding: 2em;
}

.featured img {
  width: 400px;
  border-radius: 1em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -.4em;
  padding-right: 1em;
  display: block;
}

.featured-desc {
  color: black;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 2.0em;
  font-weight: 500;
}

.skills {
  background-color: #F4F4F4;
}

.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
  margin-bottom: 2em;
}

.icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.icon-container.one {
  width: 50px;
}

.icon-container.two {
  width: 100px;
}

.icon-container.three {
  width: 60px;
}

.skill-title {
  font-weight: bold;
}

.featured-desc {
  margin-bottom: 2em;
}

.portfolio {
  background-color: white;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
  width: 400px;
}

@media only screen and (min-width: 800px) {
  .featured, .portfolio {
    text-align: left;
  }
  .featured, .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left, .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .skills {
    padding-top: 7em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 7em;
  }
  .portfolio-container img {
    margin-left: 2em;
    margin-right: 10em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
  .nav-container header {
    background: #F4F4F4;
  }
  header {
    padding: 4em 4em 4em 4em;
  }
  .social-header {
    padding: 4em 4em 4em 0;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block;
    background: #F4F4F4;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7em;
    float: right;
  }
  .social-header ul img {
    width: 20px;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 4em 4em 4em 10em;
  }
  .social-header {
    padding: 4em 10em 4em 0;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 4em 4em 4em 10em;
  }
  .social-header {
    padding: 4em 20em 4em 0;
  }
  section {
    padding: 10em 20em 4em 10em;
  }
  .hero .content {
    padding: 9em 20em 6em 10em;
  }
}
/*# sourceMappingURL=main.css.map */